*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}

body{
	background-image: url('../img/back.jpg');
	background-size:cover;
	color: silver;
}

.container-logo{
	width:250px;
	height:250px;
	margin:0 auto;
	animation-delay: 2s;
}

.contact-header{
	text-align:right;
	list-style:none;
	float:right;
	font-size:15px
}

.contact-header li{
	line-height:45px;

}

.container-contact-right{
	padding-right: 50px
}

.label-contact-header{
	margin-right:10px;
	border-bottom:1px dashed;
	padding:3px;
}

.row-up{
	margin-top:50px
}

.box-item{
	text-align:center;
	margin:0 auto;
	padding:45px;
		
}

.box-item:hover{
	color: #fad715;
	transition: all 0.5 ease;
}

.item{
	margin:0 auto;
	padding:10px;
	background:black;
	opacity:0.8;
	width:270px;
	height:270px;
	border-radius: 50%;
}

.label-item{
	
	font-size:21px;
	font-weight: bold;
	padding:5px;
	width:180px;
	margin:0 auto;
	margin-top:15px;
}

.item-desc{
	width:80%;
	margin: 0 auto;
	margin-top:15px
}

.anima-1{
	animation-delay: 0.2s;
	animation-duration: 2s;
}

.anima-2{
	animation-delay: 0.8s;
	animation-duration: 2s;
}

.anima-3{
	animation-delay: 1.4s;
	animation-duration: 2s;
}

@media only screen and (max-width: 768px) {
	.contact-header{
	margin-top:50px;
}

